.vscode
Assets/3RD_PARTY
Assets/3RD_PARTY.meta
Assets/Animation
Assets/BASE_XR
Assets/BASE_XR.meta
Assets/Materials
Assets/Models
Assets/Prefabs
Assets/Scenes
Assets/Settings
Assets/Textures
Assets/XR
Library
Logs
obj
Packages
ProjectSettings
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
JediTraining.sln